// Reopen with encoding <Windows 1251> !!!
// Using visual studio Code
// Do not know other methods to fix it
// But even compilator has strongest dependence on what encoding is compiling
// Another words: You got some shit in running app instead of Russian letters

#include <windows.h>
#include "resource.h"

// иконки
IDI_ICON_APP_32 ICON "AppIcon32.ico"

// Главное меню
IDR_MAINMENU MENU
BEGIN
    POPUP "Файл"
    BEGIN
        MENUITEM "Новое окно", IDM_NEW_WINDOW
        MENUITEM SEPARATOR
        MENUITEM "Сделать снимок", IDM_TAKE_FOTO
        MENUITEM "Сканировать тень", IDM_SCAN_SHADOW
        MENUITEM SEPARATOR
        MENUITEM "Запустить тестирование", IDM_LAUNCH_TESTING
        MENUITEM SEPARATOR
        MENUITEM "Выход", IDM_EXIT
    END

    POPUP "Графика"
    BEGIN
        POPUP "Камера"
        BEGIN
           
        END
        POPUP "Модель"
        BEGIN
            MENUITEM "Загрузить", IDB_LOAD_MODEL
        END
        MENUITEM SEPARATOR
        POPUP "Wireframe"
        BEGIN
            MENUITEM "Включить", IDB_WIREFRAME_ON
            MENUITEM "Выключить", IDB_WIREFRAME_OFF
        END
    END

    POPUP "Вид"
    BEGIN
        POPUP "Окно интсрументов"
        BEGIN
            MENUITEM "Показать", IDB_SHOW_TOOLBAR
            MENUITEM "Скрыть", IDB_HIDE_TOOLBAR
        END
        MENUITEM SEPARATOR
        POPUP "Окно графики"
        BEGIN
            MENUITEM "Показать", IDB_SHOW_RENDERWND
            MENUITEM "Скрыть", IDB_HIDE_RENDERWND
        END
    END

    POPUP "О программе"
    BEGIN
        POPUP "Информация"
        BEGIN
            MENUITEM "Автор", IDM_AUTOR
            POPUP "Инструкция"
            BEGIN
                
            END
        END
    END
END

// Диалог загрузки модели
IDD_MODEL_LOADER DIALOGEX 0, 0, 200, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
CAPTION "Загрузка модели"
FONT 10, "Arial"